<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- ************************ Dubbo 配置类：消费者 *********************** -->

    <!-- 引入资源: *.yml配置文件 -->
    <context:property-placeholder location="classpath:application*.yml" ignore-unresolvable="true"/>
    <!--名称：不限制 -->
    <dubbo:application name="${dubbo.application.name}"/>
    <!-- 注册中心地址：zookeeper所在服务器的ip地址，开启默认 -->
    <dubbo:registry default="true" address="${dubbo.registry.address}"/>
    <!-- 注册中心地址：zookeeper所在服务器的ip地址，开启默认 -->
    <dubbo:registry default="false" id="oms" address="${dubbo.registry.oms.address}" />
    <!-- Dubbo注解扫描包 -->
    <dubbo:annotation package="${dubbo.annotation.package}"/>
    <!-- 消费者：开启默认 -->
    <dubbo:consumer default="true" version="${dubbo.consumer.version}" timeout="${dubbo.consumer.timeout}" check="false"/>

</beans>
